<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle"
      (click)="collapsed = !collapsed"
    >
      <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
    </button>
    <a href="#" class="navbar-brand">Recipe Book</a>
  </div>
  <div
    class="navbar-default"
    [class.collapse]="collapsed"
    (window:resize)="collapsed = true"
  >
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="#">Recipes</a>
      <a class="nav-item nav-link" href="#">Shopping List</a>
    </div>
  </div>
  <div class="nav navbar-nav ml-auto">
    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" role="button"
        >Manage <span class="caret"></span
      ></a>
      <div class="dropdown-menu">
        <a href="#">Save Data</a>
        <a href="#">Fetch Data</a>
      </div>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Recipe Book
  </a>

  <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [class.collapse]="collapsed"
    (window:resize)="collapsed = true"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/recipes']" routerLinkActive="active" >Recipes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/shopping-list']" routerLinkActive="active" >Shopping List</a>
      </li>
    </ul>
  </div>

  <div class="nav navbar-nav">
    <div class="nav-item dropdown" appDropdown>
      <a href="#" class="nav-link dropdown-toggle" role="button"
        >Manage <span class="caret"></span
      ></a>
      <div class="dropdown-menu pl-2">
        <li><a style="cursor: pointer;" class=" text-decoration-none">Save Data</a></li>
        <li><a style="cursor: pointer;" class=" text-decoration-none">Fetch Data</a></li>
      </div>
    </div>
  </div>
</nav>
